<!doctype html>
<html lang="en">
    <%- include('header'); -%>
    
    <%- include('navigation'); -%>
    
    <%- include('crypto_tracker'); -%>


    <br><br><br>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <% if (locals.authenticated) { %>
    <h1>Welcome
        <%= username %>
    </h1>
    <br>
    <iframe src="https://discord.com/widget?id=904802264122798130&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <% } %>


</html> 